<form>
    <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Modèle</label>
        <div class="col-8">
            <select id="select" name="select" class="custom-select">
                <option value="rabbit">Audi</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">Plaque d'immatriculatin</label>
        <div class="col-8">
            <input id="text1" name="text1" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="select1" class="col-4 col-form-label">Conducteur</label>
        <div class="col-8">
            <select id="select1" name="select1" class="custom-select">
                <option value="rabbit">Anis</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Date d'affectation</label>
        <div class="col-8">
            <input id="text" name="text" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text2" class="col-4 col-form-label">Première Date de Contrat</label>
        <div class="col-8">
            <input id="text2" name="text2" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text3" class="col-4 col-form-label">Numéro de chassis</label>
        <div class="col-8">
            <input id="text3" name="text3" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text4" class="col-4 col-form-label">Valeur d'achat</label>
        <div class="col-8">
            <input id="text4" name="text4" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text5" class="col-4 col-form-label">Valeur Catalogue (TVA incl.)</label>
        <div class="col-8">
            <input id="text5" name="text5" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text6" class="col-4 col-form-label">Couleur</label>
        <div class="col-8">
            <input id="text6" name="text6" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text7" class="col-4 col-form-label">Année du modèle</label>
        <div class="col-8">
            <input id="text7" name="text7" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>