<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a style="background-color: white;" class="sidebar-brand d-flex align-items-center justify-content-center"
        routerLink="index.html">
        <div class="sidebar-brand-icon rotate-n-15">

        </div>
        <div class="sidebar-brand-text mx-3"><img src="assets/img/logo.png" width="170" height="60"></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a routerLinkActive="activeLink" class="nav-link" routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tableau de bord</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse55" aria-expanded="true"
            aria-controls="collapse55">
            <i class="fas fa-fw fa-piggy-bank"></i>
            <span>Ventes</span>
        </a>
        <div id="collapse55" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/quote">Devis</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/order">Commandes</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/client">Clients</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/invoice">Factures</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/item">Articles</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse54" aria-expanded="true"
            aria-controls="collapse54">
            <i class="fas fa-fw fa-shopping-bag"></i>
            <span>Achats</span>
        </a>
        <div id="collapse54" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/requestprice">Demandes de prix</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/order">Bons de commandes</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/supplier">Fournisseurs</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/item">Articles</a>

            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse53" aria-expanded="true"
            aria-controls="collapse53">
            <i class="fas fa-fw fa-boxes"></i>
            <span>Inventaire</span>
        </a>
        <div id="collapse53" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/transfert">Transferts</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/replanishment">Réapprovisionnement</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/adjust">Ajustements</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/warehouse">Entrepots</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/type-operation"> Type
                    d'opérations</a>


            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse18" aria-expanded="true"
            aria-controls="collapse18">
            <i class="fas fa-fw fa-hammer"></i>
            <span>Production</span>
        </a>
        <div id="collapse18" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/order-production">Ordres de
                    production</a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse8" aria-expanded="true"
            aria-controls="collapse8">
            <i class="fas fa-fw fa-users"></i>
            <span>Equipes</span>
        </a>
        <div id="collapse8" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/rh">RH</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/commercial">Commerciale</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/production">Production</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/maintenance">Maintenance</a>

            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse22" aria-expanded="true"
            aria-controls="collapse22">
            <i class="fas fa-fw fa-search-dollar"></i>
            <span>Compatibilité</span>
        </a>
        <div id="collapse22" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/invoice-client">Facture client</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/payment-client">Paiement client</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/invoice-supplier">Facture
                    founisseurs</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/payment-supplier">Paiement
                    fournisseurs</a>


            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse23" aria-expanded="true"
            aria-controls="collapse23">
            <i class="fas fa-fw fa-people-carry"></i>
            <span>Employés</span>
        </a>
        <div id="collapse23" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/employee">Employés</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/contract">Contrats</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/occupation">Postes</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/holiday">congés</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse43" aria-expanded="true"
            aria-controls="collapse43">
            <i class="fas fa-fw fa-car"></i>
            <span>Flottes</span>
        </a>
        <div id="collapse43" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/vehicule">Véhicules</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/contract-vehicule">Contrats</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/model">Modèles</a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse21" aria-expanded="true"
            aria-controls="collapse21">
            <i class="fas fa-fw fa-money-check-alt"></i>
            <span>Paie</span>
        </a>
        <div id="collapse21" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">


                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/benefit">Prestations</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/conflict">Conflits</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/pay">A payer</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/payslip">bultins de paie</a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" data-toggle="collapse"
            data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
            <i class="fas fa-fw fa-tools"></i>
            <span>Maintenance</span>
        </a>
        <div id="collapse11" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/maintenance">Demande</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/equipement">Equipements</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse52"
            aria-expanded="true" aria-controls="collapse52">
            <i class="fas fa-fw fa-file"></i>
            <span>Documents</span>
        </a>
        <div id="collapse52" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/document">Documents</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" data-toggle="collapse"
            data-target="#collapse33" aria-expanded="true" aria-controls="collapse33">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Réparations</span>
        </a>
        <div id="collapse33" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/fix">Ordres de réparation
                </a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse41"
            aria-expanded="true" aria-controls="collapse41">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Rendez vous</span>
        </a>
        <div id="collapse41" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/appointment">Rendez-vous
                </a>


            </div>
        </div>
    </li>

    <li class="nav-item">
        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse77"
            aria-expanded="true" aria-controls="collapse77">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Projets</span>
        </a>
        <div id="collapse77" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/project">Projets</a>
                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/mytask">Mes taches</a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse45"
            aria-expanded="true" aria-controls="collapse45">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Contacts</span>
        </a>
        <div id="collapse45" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/contact">Contacts</a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" data-toggle="collapse"
            data-target="#collapse88" aria-expanded="true" aria-controls="collapse88">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Evenements</span>
        </a>
        <div id="collapse88" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/event">Evenements</a>

            </div>
        </div>
    </li>


    <li class="nav-item">
        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse56"
            aria-expanded="true" aria-controls="collapse56">
            <i class="fas fa-fw fa-award"></i>
            <span>Qualité</span>
            </a>
            <div id="collapse56" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
            
                    <a routerLinkActive="activeLink" class="collapse-item" routerLink="/control-point">Points de
                        controle</a>
                    <a routerLinkActive="activeLink" class="collapse-item" routerLink="/control-quality">Controle de
                        qualité</a>
                    
                    
                    </div>
                    </div>
                    </li>
                    
                    <li class="nav-item">
                        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" data-toggle="collapse"
                            data-target="#collapse75" aria-expanded="true" aria-controls="collapse75">
                            <i class="fas fa-fw fa-user-lock"></i>
                            <span>Groupes & Roles</span>
                        </a>
                        <div id="collapse75" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                    
                                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/groupe">Groupes</a>
                                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/role">Roles</a>
                            </div>
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" data-toggle="collapse"
                            data-target="#collapse78" aria-expanded="true" aria-controls="collapse78">
                            <i class="fas fa-fw fa-shapes"></i>
                            <span>Modules</span>
                        </a>
                        <div id="collapse78" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a routerLinkActive="activeLink" class="collapse-item" routerLink="/modules">modules</a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a routerLinkActive="activeLink" class="nav-link collapsed" href="#" routerLink="/configuration">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configuration</span>
        </a>

    </li>








</ul>