 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="index.html">
         <div class="sidebar-brand-icon rotate-n-15">
            
         </div>
         <div class="sidebar-brand-text mx-3"><img src="assets/img/logo.png" width="120" height="40"></div>
     </a>

     <!-- Divider -->
     <hr class="sidebar-divider my-0">

     <!-- Nav Item - Dashboard -->
     <li class="nav-item active">
         <a class="nav-link" routerLink="/dashboard">
             <i class="fas fa-fw fa-tachometer-alt"></i>
             <span>Tableau de bord</span></a>
     </li>

     <!-- Divider -->
     <hr class="sidebar-divider">

     <!-- Heading -->
     

     <!-- Nav Item - Pages Collapse Menu -->
     <li class="nav-item">
         <a  class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
             aria-expanded="true" aria-controls="collapseTwo">
             <i class="fas fa-fw fa-cog"></i>
             <span>Personnel</span>
         </a>
         <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
             <div class="bg-white py-2 collapse-inner rounded">
                 
                 <a class="collapse-item" routerLink="/user">Utilisateurs</a>
                 <a class="collapse-item" routerLink="/role">Role</a>
                 
             </div>
         </div>
     </li>


      <li class="nav-item">
         <a  class="nav-link collapsed" href="#"routerLink="/product" data-toggle="collapse" data-target="#collapse3"
             aria-expanded="true" aria-controls="collapse3">
             <i class="fas fa-fw fa-cog"></i>
             <span>Produits et services</span>
         </a>
     </li>

      <li class="nav-item">
         <a  class="nav-link collapsed" href="#"routerLink="/client" data-toggle="collapse" data-target="#collapse3"
             aria-expanded="true" aria-controls="collapse3">
             <i class="fas fa-fw fa-cog"></i>
             <span>Clients</span>
         </a>
     </li>


      <li class="nav-item">
         <a  class="nav-link collapsed" href="#"routerLink="/supplier" data-toggle="collapse" data-target="#collapse4"
             aria-expanded="true" aria-controls="collapse4">
             <i class="fas fa-fw fa-cog"></i>
             <span>Fournisseurs</span>
         </a>
     </li>

      <li class="nav-item">
         <a  class="nav-link collapsed" href="#"routerLink="/proposition" data-toggle="collapse" data-target="#collapse5"
             aria-expanded="true" aria-controls="collapse5">
             <i class="fas fa-fw fa-cog"></i>
             <span>Proposition</span>
         </a>
     </li>


      <li class="nav-item">
         <a  class="nav-link collapsed" href="#"  data-toggle="collapse" data-target="#collapse6"
             aria-expanded="true" aria-controls="collapse6">
             <i class="fas fa-fw fa-cog"></i>
             <span>Banques</span>
         </a>
         <div id="collapse6" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
             <div class="bg-white py-2 collapse-inner rounded">
                 
                 <a class="collapse-item" routerLink="/account">Compte</a>
                 <a class="collapse-item" routerLink="/transfert">Transfert</a>
               
                 
             </div>
         </div>
     </li>


      <li class="nav-item">
         <a  class="nav-link collapsed" href="#"  data-toggle="collapse" data-target="#collapse7"
             aria-expanded="true" aria-controls="collapse7">
             <i class="fas fa-fw fa-cog"></i>
             <span>Revenus</span>
         </a>
         <div id="collapse7" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
             <div class="bg-white py-2 collapse-inner rounded">
                 
                 <a class="collapse-item" routerLink="/invoice">Factures</a>
                 <a class="collapse-item" routerLink="/revenue">Recettes</a>
             </div>
         </div>
     </li>


     <li class="nav-item">
         <a  class="nav-link collapsed" href="#"  data-toggle="collapse" data-target="#collapse8"
             aria-expanded="true" aria-controls="collapse8">
             <i class="fas fa-fw fa-cog"></i>
             <span>Dépenses</span>
         </a>
         <div id="collapse8" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
             <div class="bg-white py-2 collapse-inner rounded">
                 
                 <a class="collapse-item" routerLink="/invoicee">Factures</a>
                 <a class="collapse-item" routerLink="/">Paiement</a>
               
                 
             </div>
         </div>
     </li>

      <li class="nav-item">
         <a  class="nav-link collapsed" href="#"routerLink="/objective" data-toggle="collapse" data-target="#collapse9"
             aria-expanded="true" aria-controls="collapse9">
             <i class="fas fa-fw fa-cog"></i>
             <span>Objectif</span>
         </a>
     </li>
     
       <li class="nav-item">
         <a  class="nav-link collapsed" href="#"  data-toggle="collapse" data-target="#collapse10"
             aria-expanded="true" aria-controls="collapse10">
             <i class="fas fa-fw fa-cog"></i>
             <span>Rapport</span>
         </a>
         <div id="collapse10" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
             <div class="bg-white py-2 collapse-inner rounded">
                 
                 <a class="collapse-item" routerLink="/transaction">Basic transaction</a>
                 <a class="collapse-item" routerLink="/instruction">Instruction de compte</a>
                
                 
             </div>
         </div>
     </li>


      <li class="nav-item">
         <a  class="nav-link collapsed" href="#"  data-toggle="collapse" data-target="#collapse11"
             aria-expanded="true" aria-controls="collapse11">
             <i class="fas fa-fw fa-cog"></i>
             <span>Constante</span>
         </a>
         <div id="collapse11" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
             <div class="bg-white py-2 collapse-inner rounded">
                 
                 <a class="collapse-item" routerLink="/tax">Imports</a>
               
                 
             </div>
         </div>
     </li>

       <li class="nav-item">
         <a  class="nav-link collapsed" href="#"routerLink="/configuration" data-toggle="collapse" data-target="#collapse12"
             aria-expanded="true" aria-controls="collapse12">
             <i class="fas fa-fw fa-cog"></i>
             <span>Configuration</span>
         </a>

     </li>

    
   





 </ul>