<h1 class="h3 mb-2 text-gray-800">Ordre de production</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Date prévue</th>
                        <th>Article</th>
                        <th>Disponiblité des composants</th>
                        <th>Unité</th>
                        <th>Quantité</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RF3433</td>
                        <td>12/09/2020</td>
                        <td>2E123</td>
                        <td>en attente</td>
                        <td>Kg</td>
                        <td>122</td>
                        <td>
                            <button type="button" data-toggle="modal" data-target="#edit"
                                class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger btn-sm"><i
                                    class="fas fa-trash-alt"></i></button>
                        </td>


                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Référence</th>
                        <th>Date prévue</th>
                        <th>Article</th>
                        <th>Disponiblité des composants</th>
                        <th>Unité</th>
                        <th>Quantité</th>
                        <th>Actions</th>

                    </tr>
                </tfoot>
            </table>
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#add"><i
                    class="far fa-plus-square"></i> Créer</button>


            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Nouveau</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="voir" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Voir</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>