 <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">Utilisateurs</h1>
              
 <!-- DataTales Example -->
 <div class="card shadow mb-4">
    
     <div class="card-body">
         <div class="table-responsive">
             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Role</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>tiger@gmail.com</td>
                        <td>comptable</td>
                        
                    </tr>
                </tbody>
             </table>
         </div>
     </div>
 </div>
