

    <div class="p-5">
        <div class="text-center">
            <img src="assets/img/logo.png" width="120" height="40">
        </div>
        <form class="user">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." value="admin">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" value="admin">
            </div>
           
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Connexion
            </button>
            
          
        </form>
        <hr>
       
    </div>

