<h1 class="h3 mb-2 text-gray-800">Transferts</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Date </th>
            <th>Du compte</th>
            <th>Compte a donner</th>
            <th>Montant</th>
            <th>Référence</th>
            <th>Description</th>
            <th>Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12/11/2020</td>
            <td>4556 5066 1715 9575</td>
            <td>2324 2332 1311 4141</td>
            <td>3000$</td>
            <td>2898H73</td>
            <td>Achat </td>
            <td>
              <button type="button" data-toggle="modal" data-target="#editTransfert" class="btn btn-warning btn-sm"><i
                  class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Date </th>
            <th>Du compte</th>
            <th>Compte a donner</th>
            <th>Montant</th>
            <th>Référence</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </tfoot>
      </table>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
        data-target="#addTransfert">Ajouter</button>

      <div class="modal fade" id="addTransfert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-add-transfert></app-add-transfert>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="editTransfert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-edit-transfert></app-edit-transfert>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="viewTransfert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-view-transfert></app-view-transfert>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>