<form method="POST" accept-charset="UTF-8"><input name="_token" type="hidden"
        value="FnJi5x3dwPrGxujNBtH3dYYEgB7MJzIDxH0kJ1Hh">
    <h4 class="sub-title">Informations de base </h4>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="name" class="">Nom </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-address-card"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="name" type="text" id="name">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="contact">Contact </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="contact" type="text" id="contact">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="email">Courrier électronique </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="far fa-envelope"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="email" type="text" id="email">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="password">Mot de passe </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" minlength="6" name="password" type="password"
                        value="" id="password">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="tab-pane fade show" id="tab-2" role="tabpanel">
                <div class="form-group">
                    <label for="customField-3">Custome Filed 2</label>
                    <div class="input-group">
                        <input class="form-control" name="customField[3]" type="text">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <h4 class="sub-title">Adresse de blocage </h4>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="billing_name" class="">Nom </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-address-card"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="billing_name" type="text" id="billing_name">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="billing_country" class="">Pays </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="far fa-flag"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="billing_country" type="text"
                        id="billing_country">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="billing_state" class="">Etat </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-chess-pawn"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="billing_state" type="text" id="billing_state">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="billing_city" class="">Ville </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-city"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="billing_city" type="text" id="billing_city">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="billing_phone" class="">Téléphone </label>
                <label class="form-control-label" for="example2cols1Input"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="billing_phone" type="text" id="billing_phone">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="billing_zip" class="">Code postal </label>
                <label class="form-control-label" for="example2cols1Input"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-crosshairs"></i>
                        </div>
                    </div>
                    <input class="form-control" placeholder="Entrer un courrier électronique utilisateur "
                        required="required" name="billing_zip" type="text" id="billing_zip">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="billing_address" class="">Adresse </label>
                <label class="form-control-label" for="example2cols1Input"></label>
                <div class="input-group">
                    <textarea class="form-control" required="required" name="billing_address" cols="50" rows="10"
                        id="billing_address"></textarea>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 text-right">
        <a href="#" class="btn btn-info" id="billing_data">Expédition Identique à la facturation </a>
    </div>
    <h4 class="sub-title">Adresse d'expédition </h4>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="shipping_name" class="">Nom </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-address-card"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="shipping_name" type="text" id="shipping_name">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="shipping_country" class="">Pays </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="far fa-flag"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="shipping_country" type="text"
                        id="shipping_country">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="shipping_state" class="">Etat </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-chess-pawn"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="shipping_state" type="text"
                        id="shipping_state">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="shipping_city" class="">Ville </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-city"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="shipping_city" type="text" id="shipping_city">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="shipping_phone" class="">Téléphone </label>
                <label class="form-control-label" for="example2cols1Input"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                    </div>
                    <input class="form-control" required="required" name="shipping_phone" type="text"
                        id="shipping_phone">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="shipping_zip" class="">Code postal </label>
                <label class="form-control-label" for="example2cols1Input"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-crosshairs"></i>
                        </div>
                    </div>
                    <input class="form-control" placeholder="Entrer un courrier électronique utilisateur "
                        required="required" name="shipping_zip" type="text" id="shipping_zip">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="shipping_address" class="">Adresse </label>
                <label class="form-control-label" for="example2cols1Input"></label>
                <div class="input-group">
                    <textarea class="form-control" required="required" name="shipping_address" cols="50" rows="10"
                        id="shipping_address"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler </button>
        <input class="btn btn-primary" type="submit" value="Créer ">
    </div>

</form>