<form method="POST" action="https://demo.rajodiya.com/accountgo/taxes" accept-charset="UTF-8"><input name="_token" type="hidden" value="FnJi5x3dwPrGxujNBtH3dYYEgB7MJzIDxH0kJ1Hh">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="name">Nom du taux de taxe </label>
            <input class="form-control" required="required" name="name" type="text" value="" id="name">
                </div>
        <div class="form-group col-md-6">
            <label for="rate">Taux d'imposition% </label>
            <input class="form-control" required="required" step="0.01" name="rate" type="number" value="" id="rate">
                </div>
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler </button>
            <input class="btn btn-primary" type="submit" value="Créer ">
        </div>
    </div>
    </form>