<form>
    <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Nom du modèle</label>
        <div class="col-8">
            <input id="text" name="text" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Fabricant</label>
        <div class="col-8">
            <select id="select" name="select" class="custom-select">
                <option value="rabbit">Rabbit</option>
                <option value="duck">Duck</option>
                <option value="fish">Fish</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="select1" class="col-4 col-form-label">Type</label>
        <div class="col-8">
            <select id="select1" name="select1" class="custom-select">
                <option value="rabbit">voiture</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="select2" class="col-4 col-form-label">Select</label>
        <div class="col-8">
            <select id="select2" name="select2" class="custom-select">
                <option value="rabbit">Rabbit</option>
                <option value="duck">Duck</option>
                <option value="fish">Fish</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="select3" class="col-4 col-form-label">Fournisseur</label>
        <div class="col-8">
            <select id="select3" name="select3" class="custom-select">
                <option value="rabbit">fournisseur</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>