<h1 class="h3 mb-2 text-gray-800">Transferts</h1>
              
<!-- DataTales Example -->
<div class="card shadow mb-4">
   
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date </th>
                        <th>Du compte</th>
                        <th>Compte a donner</th>
                        <th>Montant</th>
                        <th>Référence</th>
                        <th>Description</th>
                        <th>Actions</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12/11/2020</td>
                        <td>231</td>
                        <td>21312312</td>
                        <td>ZAZE</td>
                        <td>ZAZE</td>
                        <td>ZAZE</td>
                        <td><button disabled type="button" class="btn btn-primary btn-sm">voir</button>
                            <button disabled type="button" class="btn btn-warning btn-sm">editer</button>
                            <button disabled type="button" class="btn btn-danger btn-sm">Supprimer</button></td>
                    </tr>
                </tbody>
            </table>
            <button  type="button" class="btn btn-success btn-sm">Ajouter</button>
        </div>
    </div>
</div>

