<h1 class="h3 mb-2 text-gray-800">Produits</h1>
              
<!-- DataTales Example -->
<div class="card shadow mb-4">
   
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Patinage</th>
                        <th>Prix de vente</th>
                        <th>Prix d'achat</th>
                        <th>Impot</th>
                        <th>Categorie</th>
                        <th>Montant</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>fze</td>
                        <td>zerz</td>
                        <td>13</td>
                        <td>22</td>
                        <td>EDZ</td>
                        <td>zerz</td>
                        <td>zerz</td>
                        <td>zerz</td>
                        <td>zerz</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

