<form>
    <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Nom employé</label>
        <div class="col-8">
            <input id="text" name="text" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text2" class="col-4 col-form-label">Poste</label>
        <div class="col-8">
            <input id="text2" name="text2" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text3" class="col-4 col-form-label">Email</label>
        <div class="col-8">
            <input id="text3" name="text3" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text4" class="col-4 col-form-label">Téléphone</label>
        <div class="col-8">
            <input id="text4" name="text4" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Département</label>
        <div class="col-8">
            <select id="select" name="select" class="custom-select">
                <option value="rabbit">Informatique</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="select1" class="col-4 col-form-label">Responsable</label>
        <div class="col-8">
            <select id="select1" name="select1" class="custom-select">
                <option value="rabbit">Anis</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">CV</label>
        <div class="col-8">
            <input id="text1" name="text1" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="select2" class="col-4 col-form-label">Compétences</label>
        <div class="col-8">
            <select id="select2" name="select2" class="custom-select" multiple="multiple">
                <option value="rabbit">PHP</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="text5" class="col-4 col-form-label">Lieu de Travail</label>
        <div class="col-8">
            <input id="text5" name="text5" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="select3" class="col-4 col-form-label">Congés</label>
        <div class="col-8">
            <select id="select3" name="select3" class="custom-select">
                <option value="rabbit">Rabbit</option>
                <option value="duck">Duck</option>
                <option value="fish">Fish</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="select4" class="col-4 col-form-label">Heures de travail</label>
        <div class="col-8">
            <select id="select4" name="select4" class="custom-select">
                <option value="rabbit">Rabbit</option>
                <option value="duck">Duck</option>
                <option value="fish">Fish</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="text6" class="col-4 col-form-label">Travail - Maison distance</label>
        <div class="col-8">
            <input id="text6" name="text6" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="select6" class="col-4 col-form-label">État Civil</label>
        <div class="col-8">
            <select id="select6" name="select6" class="custom-select">
                <option value="rabbit">Rabbit</option>
                <option value="duck">Duck</option>
                <option value="fish">Fish</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="text8" class="col-4 col-form-label">Nombre d'enfants</label>
        <div class="col-8">
            <input id="text8" name="text8" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text7" class="col-4 col-form-label">Contact d'urgence</label>
        <div class="col-8">
            <input id="text7" name="text7" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="select7" class="col-4 col-form-label">Niveau du certificat</label>
        <div class="col-8">
            <select id="select7" name="select7" class="custom-select">
                <option value="rabbit">Master</option>
                <option value="duck">License</option>
                <option value="fish">Doctor</option>
                <option value="">BTS</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="text9" class="col-4 col-form-label">Champ d’étude</label>
        <div class="col-8">
            <input id="text9" name="text9" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text10" class="col-4 col-form-label">École</label>
        <div class="col-8">
            <input id="text10" name="text10" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="select5" class="col-4 col-form-label">Nationalité</label>
        <div class="col-8">
            <select id="select5" name="select5" class="custom-select">
                <option value="rabbit">Francais</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="text11" class="col-4 col-form-label">N° d'identification</label>
        <div class="col-8">
            <input id="text11" name="text11" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="select8" class="col-4 col-form-label">Genre</label>
        <div class="col-8">
            <select id="select8" name="select8" class="custom-select">
                <option value="rabbit">Masculin</option>
                <option value="duck">Feminin</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="text12" class="col-4 col-form-label">Date de naissance</label>
        <div class="col-8">
            <input id="text12" name="text12" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text14" class="col-4 col-form-label">Lieu de Naissance</label>
        <div class="col-8">
            <input id="text14" name="text14" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text15" class="col-4 col-form-label">Pays de Naissance</label>
        <div class="col-8">
            <input id="text15" name="text15" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text16" class="col-4 col-form-label">Visa n°</label>
        <div class="col-8">
            <input id="text16" name="text16" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text17" class="col-4 col-form-label">Visa n°</label>
        <div class="col-8">
            <input id="text17" name="text17" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text18" class="col-4 col-form-label">Date d'expiration du visa</label>
        <div class="col-8">
            <input id="text18" name="text18" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>