<h1 class="h3 mb-2 text-gray-800">Factures</h1>
              
<!-- DataTales Example -->
<div class="card shadow mb-4">
   
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date emission</th>
                        <th>Date écheance</th>
                        <th>Montant</th>
                        <th>Statut</th>
                       
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12/11/2020</td>
                        <td>231</td>
                        <td>21312312</td>
                        <td>ZAZE</td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
