<h1 class="h3 mb-2 text-gray-800">Recettes</h1>
              
<!-- DataTales Example -->
<div class="card shadow mb-4">
   
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Montant</th>
                        <th>Compte</th>
                        <th>Client</th>
                        <th>Categorie</th>
                        <th>Référence</th>
                        <th>Description</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12/11/2020</td>
                        <td>231</td>
                        <td>21312312</td>
                        <td>ZAZE</td>
                        <td>3E32D32</td>
                        <td>zefzqfzrfefe</td>
                        
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

